*{
    box-sizing: 0px;
    padding: 0px;
    margin: 0px;
}

body {
    background: #cddff3;
    font-family: 'Outfit', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
    padding: 5px;
}

img {
    width: 260px;
    height: 260px;
    margin: 10px;
}


.container, img {
    border-radius: 10px;
}

p {
    font-size: 14px;
    color: gray;
    padding-bottom: 15px;
}

h2, p {
    margin: 20px 20px;
}